################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bootstrap_Fun/obj
/Bootstrap_Fun/.vs/Bootstrap_Fun/v16
/BootstrapOnCShtml/bin/Debug/netcoreapp3.1
/BootstrapOnCShtml/obj
